[Desktop Entry]
Type=Application
Name=Indicator Screenshot
GenericName=Indicator Screenshot
Comment=screenshot tool integrated with indicator
Icon=indicator-screenshot
Exec=indicator-screenshot
Categories=Utility;
Hidden=False
X-GNOME-autostart-enabled=true
